<!--Start Footer-->
<footer class="footer wow bounceInUp" data-wow-duration="2s">
<div class="wrap-section-border">
  <section class="section_mod-h section-bg section-bg_second">
    <div class="bg-inner border-section-top border-section-top_mod-b">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="footer-title">auto <span class="footer-title__inner">TRUST</span></h2>
            <div class="decor-1 decor-1_mod-b"></div>
          </div>
          <!-- end col --> 
        </div>
        <!-- end row -->
        
        <div class="row">
          <div class="col-xs-12">
            <div class="footer__name">: SHOWROOM LOCATION :</div>
            <div class="footer__text">918 McPhillips Street, Winnipeg, MB, R2X 2J8</div>
          </div>
          <!-- end col --> 
        </div>
        <!-- end row -->
        <div class="row">
          <div class="col-xs-12">
            <div class="footer__item"> <span class="footer__name">Phone:</span> <span class="footer__text">+1 (204) 557 9795</span> </div>
            <div class="footer__item"> <span class="footer__name">Fax:</span> <span class="footer__text">+1 (204) 557 9795</span> </div>
            <div class="footer__item"> <span class="footer__name">email:</span> <span class="footer__text">sales@autotrust.ca</span> </div>
            <div class="footer__item"> <span class="footer__name">Hours:</span> <span class="footer__text">Mon - Fri :: 9am - 6pm</span> </div>
          </div>
          <!-- end col --> 
        </div>
        <!-- end row -->
        <div class="row">
          <div class="col-xs-12">
            <ul class="social-links list-inline">
              <li><a class="icon fa fa-facebook" href="javascript:void(0);"></a></li>
              <li><a class="icon fa fa-twitter" href="javascript:void(0);"></a></li>
              <li><a class="icon fa fa-youtube-play" href="javascript:void(0);"></a></li>
              <li><a class="icon fa fa-instagram" href="javascript:void(0);"></a></li>
              <li><a class="icon fa fa-google-plus" href="javascript:void(0);"></a></li>
            </ul>
          </div>
          <!-- end col --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end bg-inner --> 
  </section>
  <!-- end section_mod-b --> 
</div>
<!-- end wrap-section-border -->
<div class="footer__wrap-btn"> <a class="footer__btn scroll" href="#this-top">top</a> </div>
<div class="copyright">Copyright &copy; 2019 <a class="copyright__link" href="javascript:void(0);">AutoTRUST</a> : : All rights reserved</div>
</footer>
</div>
<!-- end #wrapper --> 
</div>
<!-- end layout-theme --> 

<span class="scroll-top"> <i class="fa fa-angle-up"> </i></span> 

<!-- SCRIPTS --> 
<script src="/js/jquery-migrate-1.2.1.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/modernizr.custom.js"></script> 
<script src="/js/owl.carousel.min.js"></script> 
<script src="/js/waypoints.min.js"></script> 
<script src="/js/jquery.prettyPhoto.js"></script> 
<script src="/js/jquery.easing.min.js"></script> 
<script src="/js/jquery.jelect.js"></script> 
<script src="/js/jquery.flexslider.js"></script> 

<!--HOME SLIDER--> 

<script  src="/js/jquery.sliderPro.min.js"></script> 

<!--THEME--> 
<script src="/js/cssua.min.js"></script> 
<script src="/js/wow.min.js"></script> 
<script src="/js/custom.js"></script>
</body>
</html>
