	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/11/2018 04:58
  	*/

      @font-face {
        font-family: "Flaticon";
        src: url("/fonts/flaticon/services-icon/font/Flaticon.eot");
        src: url("/fonts/flaticon/services-icon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
             url("/fonts/flaticon/services-icon/font/Flaticon.woff") format("woff"),
             url("/fonts/flaticon/services-icon/font/Flaticon.ttf") format("truetype"),
             url("/fonts/flaticon/services-icon/font/Flaticon.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
      }
      
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
          font-family: "Flaticon";
          src: url("/fonts/flaticon/services-icon/font/Flaticon.svg#Flaticon") format("svg");
        }
      }
      
      [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
      [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
        font-family: Flaticon;
              font-size: 20px;
      font-style: normal;
      margin-left: 20px;
      }
      
      .flaticon-motorcycle:before { content: "\f100"; }
      .flaticon-car:before { content: "\f101"; }
      .flaticon-car-1:before { content: "\f102"; }
      .flaticon-pickup-truck-side-view:before { content: "\f103"; }
      .flaticon-van-black-side-view:before { content: "\f104"; }
      .flaticon-sportive-car:before { content: "\f105"; }
      .flaticon-sports-car:before { content: "\f106"; }